<app-navbar></app-navbar>

<div class="container mt-5">
    <div class="row">
      <!-- Pie Chart -->
      <div class="col-md-6 d-flex flex-column align-items-center">
        <h2 class="text-center">Total Expenses by Category (€)</h2>
        <canvas id="pieChart"></canvas>
      </div>
  
      <!-- Bar Chart -->
      <div class="col-md-6 d-flex flex-column align-items-center">
        <h2 class="text-center">Top 3 Dates by Total Spent (€)</h2>
        <canvas id="barChart"></canvas>
      </div>
    </div>
  </div>